#features {
  margin-top: 8vh;
  margin-bottom: 2vh;
}

h5, .feature-info {
  font-family: roboto
}

#featuresImg {
  height: 120px;
  width: 120px;
  justify-content: center;
}

#featuresImg:hover {
  height: 130px;
  width: 130px;
  justify-content: center;
  filter: invert(39%) sepia(100%) saturate(950%) hue-rotate(357deg) brightness(103%) contrast(92%);
}
