#marginRow {
  font-family: roboto;
}

.groupWalkDiv{
  height: 500px;
  width: auto;
  aspect-ratio: 1;
  margin: 0 auto;
  background-position: center center;
}

.groupWalk {
  border-radius: 50%;
  background-image: url('../../Assets/groupWeights.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center center;
}

.cardAlign {
  position: relative;
  top: 30%;
}

@media only screen and (max-device-width: 500px) {

  .groupWalkDiv{
    height: 350px;
    width: auto;
    aspect-ratio: 1;
    margin: 0 auto;
    background-position: center center;
  }

}
