#marginRow {
    font-family: roboto;
}

.groupYogaDiv{
    height: auto;
    width: auto;
    aspect-ratio: 1;
    margin: 0 auto;
    background-position: center center;
}

.groupYoga {
    background-image: url('../../Assets/zoomYoga.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center center;
}

.cardAlign2 {
position: relative;
  top: 30%;
}


@media (max-width: 1080px){

  .container{
    flex-direction: column;
  }

  .left_bottom{
    order: 2;
    width: 100%;
  }

  .right_top{
    order: 1;
    width: 100%;
  }

}
